.container {
  max-width: 90%;
  margin: auto;
  padding: 10px;
}

.textContainer {
  margin-top: 30px;
}

.blue {
  color: rgb(59 130 246);
}

.textContainer {
  text-align: center;
}

.textContainer h1 {
  line-height: 2.5rem;
  font-size: 2.25rem;
  font-weight: 500;
  color: rgb(31 41 55);
}

.servicesContainer {
  margin-top: 50px;
  column-gap: 50px;
  row-gap: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
